name: Dependencies review ⚡️
run-name: Dependencies review ⚡️

on:
  schedule:
    - cron: "0 0 * * *"

  pull_request:
    branches: ["main"]

  workflow_dispatch:

permissions: {}

jobs:
  dependencies:
    permissions:
      contents: write
      pull-requests: write
      issues: write
      security-events: read

    uses: ministryofjustice/devsecops-actions/.github/workflows/_dependency.yml@feat/dependency-workflow
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
